@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Oxygen/Oxygen-Light.eot); /* IE */
  src: url(/fonts/Oxygen/Oxygen-Light.ttf) format("truetype"); /* Other browser except IE */
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Oxygen/Oxygen-Regular.eot); /* IE */
  src: url(/fonts/Oxygen/Oxygen-Regular.ttf) format("truetype"); /* Other browser except IE */
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Oxygen/Oxygen-Bold.eot); /* IE */
  src: url(/fonts/Oxygen/Oxygen-Bold.ttf) format("truetype"); /* Other browser except IE */
}



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Lato/Lato-Bold.eot); /* IE */
  src: url(/fonts/Lato/Lato-Bold.ttf) format("truetype"); /* Other browser except IE */
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Montserrat/Montserrat.eot); /* IE */
  src: url(/fonts/Montserrat/Montserrat.ttf) format("truetype"); /* Other browser except IE */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Montserrat/Montserrat-Bold.eot); /* IE */
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype"); /* Other browser except IE */
}
